

#landing_header {
    
    width: 100%;
    height: 80px;
    top: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    position: fixed;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-width: 3px;
    border-color: transparent;  
}

#landing_header1 {
    
    width: 100%;
    height: 80px;
    top: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: rgba(214, 208, 200, 1);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-width: 3px;
    border-color: transparent;
    border-image: url('../../assets/pictures/footer2.png') 30 round;
    transition: all .45s ease-in-out;
}

.logo {
    display: none;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

.logo span {
    color:brown;
}

.navlist {
    display: flex;
    

}

.navlist #link {
    
    font-size: 1.75vw;
    font-weight: 400;
    color: balck;
    text-decoration: none;
    margin: 0px 10px;
    padding: 2px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    
}



/*.navlist a:hover{
    color:;
}*/

.nav-icon {
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;

}

#nav-icon {
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}
#nav-icon:hover{
    transform: scale(1.2);
}

.open {
    display:grid;

}


/*********************
.home-active{
    border-bottom:5px solid rgba(214, 208, 200, 1);
    border-image: url('../../assets/pictures/footer2.png') 30 round;
}

.about{
    border-bottom:5px solid transparent;
}

.about-active{
    border-bottom:5px solid rgba(214, 208, 200, 1);
    border-image: url('../../assets/pictures/footer2.png') 30 round;
}

.skills{
    border-bottom:5px solid transparent;
}

.skills-active{
    border-bottom:5px solid rgba(214, 208, 200, 1);
    border-image: url('../../assets/pictures/footer2.png') 30 round;
}

.projects{
    border-bottom:5px solid transparent;
}

.projects-active{
    border-bottom:5px solid rgba(214, 208, 200, 1);
    border-image: url('../../assets/pictures/footer2.png') 30 round;
}

.communication{
    border-bottom:5px solid transparent;
}

.communication-active{
    border-bottom:5px solid rgba(214, 208, 200, 1);
    border-image: url('../../assets/pictures/footer2.png') 30 round;
}

*********************/

@media (min-width: 840px ) {
    .navlist.open {
        display: flex;

    }

    
    
}

@media (max-width: 840px) {


    .home-active{
        border-image: none;
        border-bottom:none;
    }

    .about-active{
        border-image: none;
        border-bottom:none;
    }

    .skills-active{
        border-image: none;
        border-bottom:none;
    }

    .projects-active{
        border-image: none;
        border-bottom:none;
    }

    .communication-active{
        border-image: none;
        border-bottom:none;
    }

    #nav-icon{
        display: block;
        
    }
    

    .navlist {
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        text-align: left;
        
        
    }
    


    .navlist #link {
        display: block;
        margin: 17px;
        font-size: 20px;
        
        color: black;
        
        
    }

    .navlist #link:hover {
        
        
        width: auto;
        height: auto;
        
    }
    

    
 
    .navlist #link.active {
        color: green;
    }

    .navlist.open {
        top: 100%;
        background-color: burlywood;
    }

    .logo {
        display: block;
        
    }

    #landing_header {
        justify-content: space-between;
    }
    
    #landing_header1 {
        justify-content: space-around;
    }
}












div.navlist #link:before,
div.navlist #link:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 1.4px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
    background-color: black;
}

div.navlist #link:before {
    left: 0px;
    top: 0px;
}

div.navlist #link:after {
    right: 0px;
    bottom: 0px;
}

div.navlist #link:hover:before,
div.navlist #link:hover:after {
    opacity: 1;
    width: 100%;
    
}








