#post_block{
    width: 800px;
    height: auto;
    overflow: hidden; 
    display: grid;
    grid-template-columns: 15% 85%;
    box-shadow: 0px 4px 10px rgba(177, 177, 177, 1); 

}

@media (min-width: 1536px) {
    #post_block{
        width: 80%;
    }
}

#profile_div1{
    display: flex;
    justify-content: center;
}

#profile_pic{
    margin-top: 40px;
    margin-right: 20px;
}

#user_name { 
    color: black; 
    font-size: 25px; 
    font-family: Poppins; 
    font-weight: 400; 
    word-wrap: break-word;
    margin-top: 60px;
}

#posted_time{
    color: #808080; 
    font-size: 15px; 
    font-family: Poppins; 
    font-weight: 500; 
    word-wrap: break-word
}

#post_type{
    width: 100px; 
    height: 40px; 
    background: rgba(83.94, 221.19, 251.81, 0.70); 
    box-shadow: 0px 4px 10px rgba(83.94, 221.19, 251.81, 0.20); 
    border-radius: 2px;
    margin-top: 10px;
}

#post_type h5{
    color: black; 
    font-size: 17px; 
    font-family: Poppins; 
    font-weight: 400; 
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
}

#post_heading {
    color: black; 
    font-size: 25px; 
    font-family: Poppins; 
    font-weight: 400; 
    word-wrap: break-word;
    margin-top: 10px;
}

#post_text{
    width: 80%; 
    color: black; 
    font-size: 17px; 
    font-family: Poppins; 
    font-weight: 300; 
    word-wrap: break-word;
    margin-top: 10px;
    
}

#post_tag{
    color: black; 
    font-size: 17px; 
    font-family: Poppins; 
    font-weight: 300; 
    word-wrap: break-word;
    margin-top: 10px;
}



#comment_input{ 
    height: 100%;
    width: 100%; 
    background: rgba(141, 153, 174, 0.20); 
    border-radius: 5px;
}

#post_button {
    width: 80px; 
    height: 30px; 
    background: rgba(83.94, 221.19, 251.81, 0.70); 
    box-shadow: 0px 4px 10px rgba(83.94, 221.19, 251.81, 0.20); 
    border-radius: 5px;
    
}

#form_div{
    display: grid;
    grid-template-columns: 90% 10%;
}


@media (max-width:1130px) {
    #post_block{
        width: 700px;
    }
    
}

@media (max-width:1025px) {
    #post_block{
        width: 600px;
        overflow: hidden; 
        grid-template-columns: 20% 80%;
    }
    
}

@media (max-width:880px) {
    #post_block{
        width: 550px;
        overflow: hidden; 
       
    }
    
}

@media (max-width:768px) {
    #post_block{
        width: 100%;
        overflow: hidden; 
       
    }
    
}


@media (max-width:600px) {
    #post_block{
        grid-template-columns: 100%;
    }

    #profile_div1{
        display: flex;
        justify-content: center;
    }

    #profile_div2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    #post_type{
        display: flex;
        justify-content: center;
        
    }

    #post_text_div{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #post_type_div{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #post_tag{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #comments_div{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #form_div{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        
    }
}

@media (max-width:425px){
    #post_heading {
        font-size: 20px;
    }

    #post_text{
        width: 90%; 
        font-size: 12px; 
        
        
    }
}