#nav_bar_button{
    display: grid;
    grid-template-columns: 90% 10%;
}
#visible_button{
    background-color: green;
}

#nav_layout{
    grid-template-columns: 100%;
    grid-template-rows: 20% 60% 20%;
   
    
}


#nav_heading h1{
    color: black;
    font-size: 30px;
    font-family: K2D;
    font-weight: 700;
    letter-spacing: 1.50px;
    word-wrap: break-word;
} 

#nav_heading span{
    font-size: 60px;
    background-image: linear-gradient(141deg, rgba(83.94, 221.19, 251.81, 0.70) 1%, #03071E 100%);
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
}

@media (max-width:1140px) {
    #nav_heading h1{
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 1.0px;
    }

    #nav_heading span{
        font-size: 45px;
    }
}



#nav_communities h1{
    color: black;
    font-size: 22px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
}
#nav_saftey h1{
    color: #B1B1B1;
    font-size: 22px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
    
}
#nav_feedback h1{
    color: #B1B1B1;
    font-size: 22px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
}
#nav_privacy h1{
    color: #B1B1B1;
    font-size: 22px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
}
#nav_help h1{
    color: #B1B1B1;
    font-size: 22px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
}

@media (max-width:1024px) {
    
    #nav_communities h1{  
        font-size: 16px;
    }
    #nav_saftey h1{
        font-size: 16px;
    }
    #nav_feedback h1{
        font-size: 16px;
    }
    #nav_privacy h1{
        font-size: 16px;
    }
    #nav_help h1{
        font-size: 16px;
    }

    #nav_icons {
        margin-left: 5px;
        margin-right: 5px;
    }

}


#nav_login {
    background: rgba(83.94, 221.19, 251.81, 0.70); 
    border-radius: 5px;
}
#nav_login h1{
    font-size: 22px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
}

#nav_icon_route {
    display: grid;
    grid-template-columns: 20% 70%;
    width: 200px;
    column-gap: 5px;
}

#nav_icons {
    background-color: rgba(83.94, 221.19, 251.81, 0.70);
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_signUp{
    background: rgba(83.94, 221.19, 251.81, 0.70); 
    border-radius: 5px;   
}

#nav_signUp h1{
    font-size: 22px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
}

#nav_buttons{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    
}

#nav-buttons-center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#nav_buttons button{
    border-radius: 5px;
    width: 150px;
    height: 50px;
    
}

#nav_buttons h1{
    color: black;
}


@media (max-width:890px) {
    #nav_layout{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 60% 20%;
        
    }

    #nav_heading h1{
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.8px;
    }

    #nav_heading span{
        font-size: 35px;
    }

    #nav_icon_route {
        grid-template-columns: 15% 75%;
        width: 150px;
       
    }
    
    #nav_buttons button{
        width: 100px;
        height: 50px;
    }
}

@media (max-height:525px) {
    #nav_buttons button{
        height: 40px;
    }
}