#nav_layout{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 60% 20%;
    
}


#nav_heading h1{
    color: black;
    font-size: 30px;
    font-family: K2D;
    font-weight: 700;
    letter-spacing: 1.50px;
    word-wrap: break-word;
} 

#nav_communities h1{
    color: #B1B1B1;
    font-size: 22px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
}
#nav_saftey h1{
    color: #B1B1B1;
    font-size: 22px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
    
}
#nav_feedback h1{
    color: #B1B1B1;
    font-size: 22px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
}
#nav_privacy h1{
    color: #B1B1B1;
    font-size: 22px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
}
#nav_help h1{
    color: #B1B1B1;
    font-size: 22px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
}

#nav_login {
    width: 100%; 
    height: 100%; 
    background: rgba(83.94, 221.19, 251.81, 0.70); 
    border-radius: 5px;
}
#nav_login h1{
    color: white;
    font-size: 22px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
}

#nav_icon_route {
  
    display: grid;
    grid-template-columns: 30% 70%;
    width: 200px;
}

#nav_icons {

    width: 100%;
    height: 100%;
    background-color: rgba(83.94, 221.19, 251.81, 0.70);
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_signUp{
    width: 100%; 
    height: 100%; 
    background: rgba(83.94, 221.19, 251.81, 0.70); 
    border-radius: 5px;   
}

#nav_signUp h1{
    color: white;
    font-size: 22px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
}

#nav_buttons{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    
}

#nav-buttons-center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#nav_buttons button{
    border-radius: 5px;
    width: 150px;
    height: 50px;
    
}

#nav_buttons h1{
    color: black;
}